<main *ngIf="(state$ | async) as state">
  <h3>Service Response State</h3>

  <p>State set to: {{state.state}}</p>

  <section class="container">
    <button 
      [disabled]="state.state === responseState.loading"
      (click)="handleSetState(responseState.loading)">
      Set to loading
    </button>
    <button 
      [disabled]="state.state === responseState.success"
      (click)="handleSetState(responseState.success)">
      Set to finish
    </button>
    <button 
      [disabled]="state.state === responseState.error"
      (click)="handleSetState(responseState.error)">
      Set to error
    </button>
    <button (click)="fetchMock()">Mock fetch</button>
  </section>
  
</main>
